[submodule "rajawali"]
	path = rajawali
	url = git@github.com:OnlyInAmerica/Rajawali.git
[submodule "rajawalivr"]
	path = rajawalivr
	url = git@github.com:OnlyInAmerica/RajawaliVR.git
[submodule "rajawalivuforia"]
	path = rajawalivuforia
	url = git@github.com:OnlyInAmerica/RajawaliVuforia.git
